
<div class="container">
      <div class="chaka-wrapper">
            <div class="pagemovt">
                <a routerLink="/news">Go to PAGE 3 >>></a>
            </div>
    <div class="market-view-wrapper">
            <div class="row">
                    <div class="col-md-12">
                        <span class="grey-1 capitalize">Market View</span>
                        <p class="head-1 main-head">Today's market briefing.</p>
                    </div>
                </div>
                <div  class="row">
                      <div class="col-md-12">
                        <div class="wrapper">
                            <span class="BN-container" *ngFor="let stock of stocks">
                                <span class="BN-top1">
                                    <span class="bold">{{stock.name}}</span>
                                    <span class="BN-sub1">{{stock.subname}}</span>
                                </span>
                                <span class="BN-down1">
                                        <span class="bold">{{stock.value}}</span>
                                        <span class="BN-sub4 positive" 
                                            *ngIf="stock.direction == 'up'">
                                            +{{stock.percentValue}}%
                                        </span>
                                        <span class="BN-sub4 negative" 
                                            *ngIf="stock.direction == 'down'">
                                            -{{stock.percentValue}}%
                                        </span>
                                </span>
                            </span>
                        </div>
                      </div>   
                </div>
                <div class="row">
                    <div class="col-md-12 subtitle-activeup">
                        <span class="grey-1 active-update">Active stacks last updated Dec 29 2020</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8">
                        <hr />
                    </div>
                </div>
                    <div class="row highlight-watchlist sectorhighlight-wrapper">
                            <div class="col-md-8">
                                    <div class="sectorhighlight-div">
                                            <span class="head-1">Sector Highlights</span>
                                            <span class="grey-1">Dec 29 2020 9:10:28pm</span>
                                        </div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="overlay-wrapper">
                                                <img _ngcontent-vlf-c17="" width="100%" height="100%" src="/assets/img/health.png" alt="health.png">
                                                <span class="overlay-head-text bold">Health care</span>
                                                    <span class="overlay-foot-text bg-green">+0.37%</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="overlay-wrapper">
                                                <img _ngcontent-vlf-c17="" width="100%" height="100%" src="/assets/img/communication.png" alt="communication.png">
                                                <span class="overlay-head-text bold">Idustrials</span>
                                                <span class="overlay-foot-text bg-red">+0.40%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="mywatchlist-div">
                                            <span class="head-1 mywatchlist">My Watchlist</span><span class="fa fa-star"></span>
                                        </div>
                                <div class="mywatchlist-text">
                                    <span>Your watchlist is empty. Build your watchlist by starrin(<span class="fa fa-star checked"></span>) the stocks you want to follow</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-8">
                                <hr />
                            </div>
                        </div>
                        <div class="row">
                               <div class="col-md-8">
                                    <div class="">
                                            <div class="exdividends-div">
                                                    <span class="head-1">Ex-Dividends</span>
                                            </div>
                                    </div>
                               </div>
                        </div>
                        <div class="row">
                                <div class="col-md-8">
                                     <div class="exdividends-wrapper">
                                             <div class="exdividends-div">
                                                     <span class="grey-1">Symbol</span>
                                             </div>
                                             <div class="exdividends-div">
                                                 <span class="grey-1 exdividends-div1">Amount</span>
                                             </div>
                                     </div>
                                </div>
                         </div>
                        <div class="row">
                            <div class="col-md-8">
                                <div class="">
                                    <span class="grey-1 ">There are no upcoming dividends</span>
                                </div>
                            </div>
                        </div>
                    <div class="row">
                        <div class="col-md-12">
                            <hr />
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-12">
                                <div class="earnings-header">
                                        <span class="head-1">Earning</span>
                                </div>
                        </div>
                    </div> 
                    <div class="row">
                        <div class="col-md-12">
                            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                                <button class="navbar-toggler" type="button" data-toggle="collapse"
                                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                    aria-expanded="false" aria-label="Toggle navigation"
                                    (click)="toggleCollapsed()">
                                    <span>More</span>
                                </button>
                        <div id="navbarSupportedContent" [ngClass]="{'collapse': collapsed, 'navbar-collapse': true}">
                                <ul class="navbar-nav mr-auto earnings-div">
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Symbol</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">Company</a>
                                    </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Fiscal Period</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Consensus Estimated EPS</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Actual EPS</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">Suprise</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">EPS Year Ago</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">EPS Year Ago</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" href="#">% Change From Last Year</a>
                                            </li>            
                                </ul>
                            </div>
                                </nav>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-8">
                                    <div class="sectorhighlight-wrapper">
                                            <div class="sectorhighlight-div">
                                                    <span class="head-1">Sector Highlights</span>
                                                    <span class="grey-1">Dec 29 2020 9:10:28pm</span>
                                            </div>
                                    </div>
                                </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 overlay-wrap-col" *ngFor="let sector of fourRowSectors">
                                <div class="overlay-wrapper">
                                    <img [src]="'/assets/img/'+sector.filename" 
                                            [alt]="sector.filename" width="100%" height="100%" />
                                    <span class="overlay-head-text bold">{{sector.name}}</span>
                                    <span class="overlay-foot-text bg-green" 
                                        *ngIf="sector.direction == 'plus'">+{{sector.percentValue}}</span>
                                    <span class="overlay-foot-text bg-grey-1"
                                        *ngIf="sector.direction == ''">{{sector.percentValue}}</span>
                                    <span class="overlay-foot-text bg-red" 
                                        *ngIf="sector.direction == 'minus'">-{{sector.percentValue}}</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                                <div class="col-md-4 overlay-wrap-col" *ngFor="let sector of threeRowSectors">
                                    <div class="overlay-wrapper">
                                        <img [src]="'/assets/img/'+sector.filename" 
                                                [alt]="sector.filename" width="100%" height="100%" />
                                        <span class="overlay-head-text bold">{{sector.name}}</span>
                                        <span class="overlay-foot-text bg-green" 
                                            *ngIf="sector.direction == 'plus'">+{{sector.percentValue}}</span>
                                        <span class="overlay-foot-text bg-grey-1"
                                            *ngIf="sector.direction == ''">{{sector.percentValue}}</span>
                                        <span class="overlay-foot-text bg-red" 
                                            *ngIf="sector.direction == 'minus'">-{{sector.percentValue}}</span>
                                    </div>
                                </div>
                            </div>
    </div>
      </div>
</div>