<div class="container">
       <div class="news-wrapper">
            <div class="news-inner-wrapper">
                    <a routerLink="/market">Back to Market</a>
                    <div class="row" *ngFor="let n of news">
                        <div class="col-md-4">
                            <div class="news-images">
                                    <img [src]="'assets/img/'+n.filename" width="100%" height="100%" />
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="news-detail-texts">
                                <span class="datelabel">
                                    <span>{{n.date}}</span>
                                    <span>{{n.time}}</span>
                                    <span>|</span>
                                    <span>{{n.subname}}</span>
                                </span>
                                <span class="news-bold">{{n.name}}</span>
                                <span class="grey-1 news-desc">{{n.description}}</span>
                                <span class="news-related-wrap">
                                    <span class="grey-1 news-desc">Related:</span>
                                    <span class="grey-1 news-desc news-related">{{n.related[0]}}</span>
                                    <span class="grey-1 news-desc news-related">{{n.related[1]}}</span>
                                </span>
                            </div>
                        </div>
                    </div>
            </div>
       </div>
</div>