
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif !important;
    background-color: #ffffff !important;
}

.market-view-wrapper {
    padding: 75px 0;
}

    .market-view-wrapper .capitalize {
        letter-spacing: 0.1em;
        text-transform: uppercase;
        font-size: 1em !important;
    }

    .market-view-wrapper .main-head {
        font-size: 1.5em !important;
    }

.bold {
    font-weight: bold;
    font-size: 1.2em !important;
}

.head-1 {
    font-weight: bold;
    font-size: 1.2em !important;
}

.grey-1 {
    color: #B9C1C6;
    font-size: 1em !important;
}

.wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
}

.BN-container {
    border: 1px solid #eeececd9;
    ;
    background: #cccccc42;
    padding: 10px 5px 10px 15px;
    display: flex;
    flex-direction: column;
    height: 220px;
    justify-content: space-between;
    margin-right: 10px;
    width: 100%;
}

.BN-top1, .BN-down1 {
    display: flex;
    flex-direction: column;
}

.BN-down1 {
    text-align: right;
}

.positive {
    color: #35c835;
    font-size: 0.75em;
}

.negative {
    color: red;
    font-size: 0.75em;
}

.BN-sub1 {
    font-size: 0.75em;
}

.BN-top2, .BN-down2 {
    display: flex;
    flex-direction: column;
}

.BN-down2 {
    text-align: right;
}

    .BN-down2 .BN-sub4 {
        color: red;
    }

.subtitle-activeup {
    margin-top: 25px;
    padding-bottom: 15px;
}

    .subtitle-activeup .active-update {
        padding: 15px 0;
        display: inline;
    }

.sectorhighlight-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

    .sectorhighlight-wrapper .sectorhighlight-div > span {
        display: block;
    }

.healthcare-overlay {
    /* width: 100%; */
    height: 100px;
    background-color: #ccc;
    margin-top: 20px;
}

.industrial-overlay {
    height: 100px;
    background-color: #ccc;
    margin-top: 20px;
}

.highlight-watchlist {
    padding-bottom: 35px;
}

.mywatchlist-div {
    padding-top: 20px;
}

    .mywatchlist-div .mywatchlist {
        margin-right: 10px;
    }

.mywatchlist-text .checked {
    color: blue;
}

.mywatchlist-text {
    color: #66696c;
    padding-top: 30px;
}

.exdividends-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ebdfdf;
    padding-bottom: 5px;
}

    .exdividends-wrapper .exdividends-div span {
        display: block;
    }

.exdividends-div {
    padding-top: 10px;
}

    .exdividends-div span {
        color: #66696c !important;
    }

.earnings-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #ebdfdf;
    padding-top: 15px;
    padding-bottom: 5px;
}

    .earnings-div span {
        display: block;
        color: #66696c !important;
        word-break: break-all;
    }

.overlay-wrapper {
    position: relative;
    width: 100%;
    height: 100px;
    padding-bottom: 10px;
}

.overlay-wrap-col {
    padding: 5px !important;
}

.overlay-head-text {
    position: absolute;
    top: 8px;
    left: 10px;
    color: #fff;
    z-index: 10;
    font-size: 1em !important;
}

.overlay-foot-text {
    position: absolute;
    bottom: 20px;
    right: 10px;
    color: #fff;
    z-index: 10;
    font-size: 14px;
    text-align: center;
    padding: 3px 10px;
}

.bg-green {
    background-color: green;
}

.bg-red {
    background-color: red;
}

.bg-grey-1 {
    background-color: grey;
}

.market-view-wrapper {
    background: #fcfcfc;
    box-shadow: 1px 13px 1px 1px #eadfdf;
    max-width: 100%;
    padding: 20px;
}


.news-inner-wrapper .news-images {
    width: 100%;
    height: 100px;
}

.news-detail-texts {
    display: flex;
    flex-direction: column;
}

.pagemovt {
    margin: 28px 13px;
    background: #eee;
    padding: 20px;
    box-shadow: 3px 1px 3px 0px #7e7676;
    width: 99%;
}

    .pagemovt a {
        color: #f8f8f8;
        background: orange;
        padding: 8px 15px;
    }

        .pagemovt a:hover {
            color: #f8f8f8;
            background: orange;
            text-decoration: none;
        }

.sectorhighlight-div {
    padding-bottom: 20px;
    padding-top: 10px;
}

.news-detail-texts .datelabel span {
    padding-right: 5px;
    color: #66696c !important;
    font-size: 0.8em;
}

.news-detail-texts .news-bold {
    font-weight: bold;
    font-size: 1.3em !important;
}

.news-detail-texts .news-desc {
    color: #66696c !important;
    font-size: 0.8em !important;
}

.news-detail-texts .news-related-wrap {
    padding-top: 10px;
}

    .news-detail-texts .news-related-wrap .news-related {
        margin: 10px;
        padding: 4px 10px;
        background-color: #ccc;
    }

.news-wrapper {
    background: #fcfcfc;
    box-shadow: 1px 13px 1px 1px #f6f6f6;
    max-width: 100%;
    padding: 20px;
}

    .news-wrapper .news-inner-wrapper .news-cards {
        padding-bottom: 55px;
    }

.earnings-div li a {
    font-size: 0.9em !important;
    width: 100% !important;
}

@media only screen and (min-width : 360px) and (max-width:640px) {
    .pagemovt {
        margin: 35px 0px 20px 0;
    }

    .BN-container {
        padding: 10px 25px;
    }

    .earnings-div span {
        margin-bottom: 35px;
    }
    .toggle-button{
    padding: 8px !important;
    font-size: 1em !important;
    background-color: #277927 !important;
    color: #fff !important;
    }
    .news-detail-texts {
        padding-top: 58px;
    }
}
